@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Croissant+One&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Kurale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Croissant+One&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Kurale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color1: rgb(61, 12, 17);
    --color2: rgb(216, 0, 50);
    --color3: rgb(247, 140, 162);
    --color4: rgb(249, 222, 201);
}

.header-1 {
    position: sticky;
    width: 100%;
    background: rgb(71, 71, 71);
}

.head-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.fast p {
    font-size: 15px;
    color: #dddddd;
}

.right {
    display: flex;
    right: 0;
    gap: 1.5rem;
}

.search input {
    background: none;
    padding: 5px;
    border: 1px solid var(--color4);
    color: var(--color4);
}

.search a i {
    text-decoration: none;
    color: var(--color4);
}

.icons a i {
    color: var(--color4);
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.search a i:hover,
.icons a i:hover {
    color: var(--color3);
}

header {
    position: fixed;
    width: 100%;
    background: var(--color2);
    z-index: 1000;
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container-nav {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 1000;
}

nav .logo {
    width: 38px;
    height: 46px;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a,
nav ul li i {
    color: var(--color4);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 7.5px;
    border-radius: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover,
nav ul li i:hover {
    color: var(--color1);
    background: var(--color4);
}


nav .menu-btn i {
    color: var(--color4);
    font-size: 22px;
    cursor: pointer;
    display: none;
    right:  0;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1192px) {
    /*nav {
        padding: 0 40px 0 50px;
    }

    .container {
        width: 90%;
    }

    .container-nav {
        width: 95%;
    }*/
}

@media (max-width: 1192px) {
    nav .menu-btn i {
        display: block;
        margin-left: 120px;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    
    nav ul {
        position: fixed;
        z-index: 1000;
        top: 140px;
        left: -100%;
        background: rgb(247, 140, 162);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 10px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: var(--color1);
    }
}

@media (max-width: 750px) {
    nav {
        width: 85%;
        padding: 0 17px 0 33.5px;
    }

    nav .logo {
        width: 28.5px;
        height: 34.5px;
    }

    nav ul li {
        margin: 0 2.5px;
    }

    nav ul li a,
    nav ul li i {
        font-size: 18px;
        font-weight: 500;
        padding: 12px 15.25px;
        border-radius: 15px;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media (max-width: 450px) {
    nav {
        width: 100%;
        padding: 0 12.5px 0 25px;
    }
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}

.content div {
    font-size: 40px;
    font-weight: 700;
}

footer {
    bottom: 0;
    background: var(--color2);
    position: relative;
    width: 100%;
    padding: 30px;
}

.foot-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 200px;
    align-items: center;
    gap: 2rem;
    padding: 5px;
}

.foot-box {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}



p.bold {
    color: var(--color4);
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

p.normal {
    color: rgba(255, 240, 228, 0.7);
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}

.foot-img {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
}

.foot-img img {
    width: 40%;
    cursor: pointer;
}

.foot-logo {
    width: 76px;
    height: 92px;
    padding: 5px;
}

.foot-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer hr {
    height: 3px;
    background: var(--color4);
    border: none;
    border-radius: 10px;
}

.copyright p {
    font-size: 18px;
    color: var(--color4);
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.social-media {
    display: inline-flex;
    padding: 10px;
    gap: 1rem;
    align-items: center;
}

.social-media i {
    font-size: 20px;
    background: var(--color4);
    color: var(--color1);
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s all linear;
}

.social-media i:hover {
    background: linear-gradient(to bottom right, var(--color2), var(--color3));
    color: var(--color4);
}
.service-home{
    background: linear-gradient(to right, var(--color2), var(--color4));
    height: 60vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.service-head{
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
}
.service-head h2{
    color: var(--color4);
    font-size: 2.65rem;
}

.service-head p{
    color: rgba(74, 0, 0, 0.8758);
    font-size: 1.205rem;
}

.service-head-02{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 180px;
    width: 95%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.service-box h3{
    margin-left: 2rem;
    margin-top: 5rem;
    font-size: 20px;
    color: var(--color2);
}

.service-box select{
    padding: 3px;
    background: transparent;
    color: var(--color1);
    font-size: 16px;
    border: 1px solid var(--color1);
}

.service-box select option{
    background: none;
}

.main-02 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    flex: 1 1 200px;
    gap: 1.5rem;
    padding: 1rem 0 0.5rem;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.card-02 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 410px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: 0px;
    cursor: pointer;
}

.card-02 img.product-img {
    padding: 0px;
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    transition: 0.14s all linear;
}

.img-02 img:hover {
    opacity: 0.57;
}

.card-02 i{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: var(--color2);
    color: var(--color4);
    font-size: 20px;
    cursor: pointer;
}

.product-decr {
    font-family: 'Cambria', serif;
    text-align: center;
    margin-top: 15px;
    line-height: 25px;
    font-size: 18px;
    color: var(--color2);
    padding: 10px;
    font-weight: 600;
    transition: 0.3s all linear;
}

.product-decr:hover {
    color: var(--color2);
}

.price {
    font-family: 'Cambria', serif;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: var(--color1);
    font-weight: 400;
}

#cart-icon {
    cursor: pointer;
}

.cart-box {
    width: 300px;
    position: fixed;
    top: 2.5rem;
    right: -100%;
    margin: none;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    z-index: 10000;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    background: rgb(255, 241, 230);
}

.cart-box.active {
    right: 0;
}

.cart-head {
    color: var(--color4);
    background-color: var(--color2);
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 1000;
}

.cart-head h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.cart-head h2 span{
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.cart-head #close-cart i {
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}
.cart-box .sign-out-box{
    background: var(--color4);
    padding: 10px;
    
    position: sticky;position: absolute;
    bottom: 40px;
    right: 1px;
    text-align: center;
    width: 100%;
    border: none;
    cursor: pointer;
    align-items: center;
    z-index: 100000;
}

.sign-out-box .sign-out{
    background: none;
    border: none;
    color: var(--color2);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.sign-out-box:hover {
    background: rgb(255, 174, 113);
}
.cart-content {
    margin-top: 2px;
    padding: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 52% 18%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

img.cart-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    padding: 2px;
    border: 1px solid var(--color2);
    border-radius: 50%;
}

.cart-texts {
    display: grid;
    row-gap: 5px;
    padding: 5px;
}

.cart-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color3);
}

.cart-price {
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

input.quantity {
    width: 2.5rem;
    border: 1px solid var(--color2);
    outline-color: var(--color2);
    text-align: center;
    font-size: 1rem;
    padding: 2px;
}

.add-cart {
    font-size: 20px;
    color: var(--color2);
    cursor: pointer;
}

.cart-remove {
    font-size: 18px;
    color: var(--color2);
    cursor: pointer;
}
.cart-add{
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
}
.cart-total {
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    border-top: 1px solid #333;
}

.total {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    padding-right: 20px;
    align-items: center;
}

.total-price {
    font-size: 1.095rem;
    font-weight: 500;
    color: #000;
}

.btn-buy {
    margin: 1rem auto 0 auto;
    font-size: 18px;
    display: flex;
    padding: 5px 10px 10px 10px;
    border: none;
    background: var(--color2);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.25s all linear;
    margin-bottom: 6px;
}

.btn-buy:hover {
    background: #fff;
    color: var(--color2);
    border: 1px solid var(--color2);
}