@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Croissant+One&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Kurale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Croissant+One&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Kurale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color1: rgb(61, 12, 17);
    --color2: rgb(216, 0, 50);
    --color3: rgb(247, 140, 162);
    --color4: rgb(249, 222, 201);
}

.header-1 {
    position: sticky;
    width: 100%;
    background: rgb(71, 71, 71);
}

.head-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.fast p {
    font-size: 15px;
    color: #dddddd;
}

.right {
    display: flex;
    right: 0;
    gap: 1.5rem;
}

.search input {
    background: none;
    padding: 5px;
    border: 1px solid var(--color4);
    color: var(--color4);
}

.search a i {
    text-decoration: none;
    color: var(--color4);
}

.icons a i {
    color: var(--color4);
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.search a i:hover,
.icons a i:hover {
    color: var(--color3);
}

header {
    position: fixed;
    width: 100%;
    background: var(--color2);
    z-index: 1000;
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container-nav {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 1000;
}

nav .logo {
    width: 38px;
    height: 46px;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a,
nav ul li i {
    color: var(--color4);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 7.5px;
    border-radius: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover,
nav ul li i:hover {
    color: var(--color1);
    background: var(--color4);
}


nav .menu-btn i {
    color: var(--color4);
    font-size: 22px;
    cursor: pointer;
    display: none;
    right: 0;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1192px) {
    /*nav {
        padding: 0 40px 0 50px;
    }

    .container {
        width: 90%;
    }

    .container-nav {
        width: 95%;
    }*/
}

@media (max-width: 1192px) {
    nav .menu-btn i {
        display: block;
        margin-left: 120px;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        z-index: 1000;
        top: 140px;
        left: -100%;
        background: rgb(247, 140, 162);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 10px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: var(--color1);
    }
}

@media (max-width: 750px) {
    nav {
        width: 85%;
        padding: 0 17px 0 33.5px;
    }

    nav .logo {
        width: 28.5px;
        height: 34.5px;
    }

    nav ul li {
        margin: 0 2.5px;
    }

    nav ul li a,
    nav ul li i {
        font-size: 18px;
        font-weight: 500;
        padding: 12px 15.25px;
        border-radius: 15px;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media (max-width: 450px) {
    nav {
        width: 100%;
        padding: 0 12.5px 0 25px;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}

.content div {
    font-size: 40px;
    font-weight: 700;
}

footer {
    bottom: 0;
    background: var(--color2);
    position: relative;
    width: 100%;
    padding: 30px;
}

.foot-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 200px;
    align-items: center;
    gap: 2rem;
    padding: 5px;
}

.foot-box {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}



p.bold {
    color: var(--color4);
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

p.normal {
    color: rgba(255, 240, 228, 0.7);
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}

.foot-img {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
}

.foot-img img {
    width: 40%;
    cursor: pointer;
}

.foot-logo {
    width: 76px;
    height: 92px;
    padding: 5px;
}

.foot-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer hr {
    height: 3px;
    background: var(--color4);
    border: none;
    border-radius: 10px;
}

.copyright p {
    font-size: 18px;
    color: var(--color4);
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.social-media {
    display: inline-flex;
    padding: 10px;
    gap: 1rem;
    align-items: center;
}

.social-media i {
    font-size: 20px;
    background: var(--color4);
    color: var(--color1);
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s all linear;
}

.social-media i:hover {
    background: linear-gradient(to bottom right, var(--color2), var(--color3));
    color: var(--color4);
}


.body-02 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
        background: url(image/bggg.jpg) no-repeat;
    background-size: cover;
}

.regis-container {
    max-width: 700px;
    width: 100%;
    background-color: #ffb6ad37;
    
    margin-top: 7.5rem;
    padding: 25px 30px;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.15);
}

.regis-container .title {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    color: var(--color2);
}

.content-02 form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--color2);
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: var(--color2);
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

.gender-details input {
    background: #fff;
    color: #fff;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--color2);
    transition: .25s;
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: var(--color3);
}

.option a {
    font-size: 0.985rem;
    place-items: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 4px;
    color: #ff523b;
}

@media(max-width: 584px) {
    .regis-container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content-02 form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .regis-container .content .category {
        flex-direction: column;
    }
}